.about {
    position: absolute;
    top: 47.87%;
    left: 50%;
    transform: translateX(-50%);
    font-size: var(--font-size-13xl);
}
.border {
    position: absolute;
    height: 0.06%;
    top: 50.97%;
    bottom: 48.97%;
    left: 50%;
    transform: translateX(-50%);
    max-height: 100%;
    width: 6.625rem;
}
.username {
    position: absolute;
    top: 55.5%;
    left: 41%;
    font-size: var(--font-size-base);
}
.text {
    margin: 0;
}
.text_box {
    position: absolute;
    top: 57.7%;
    left: 41%;
}
.about_icon{
    position: absolute;
    top: 55.5%;
    left: 31%;
    width: 6.25rem;
    height: 6.25rem;
    object-fit: cover;
}