@import url('https://fonts.googleapis.com/css2?family=Hiragino+Kaku+Gothic+ProN:wght@400&display=swap');
body {
  	margin: 0; line-height: normal;
}
:root {
  	
  	/* fonts */
  	--font-hiragino-kaku-gothic-pron: 'Hiragino Kaku Gothic ProN';
  	
  	/* font sizes */
  	--font-size-mini-4: 14.4px;
  	--font-size-base: 16px;
  	--font-size-13xl: 32px;
  	
  	/* Colors */
  	--color-darkslategray: #383e45;
  	--color-gray: #24292e;
  	
}