.logoIcon {
    position: absolute;
    height: 2.59%;
    width: 9.38%;
    top: 0.65%;
    right: 74.13%;
    bottom: 96.77%;
    left: 16.5%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.about {
    position: absolute;
    top: 1.23%;
    left: 73.73%;
    color: var(--color-gray);
}
.bicycle {
    position: absolute;
    top: 1.23%;
    left: 79.52%;
    color: var(--color-gray);
}
.about1 {
    position: absolute;
    top: 47.87%;
    left: calc(50% - 53px);
    font-size: var(--font-size-13xl);
}
.icon {
    position: absolute;
    height: 0.06%;
    top: 50.97%;
    bottom: 48.97%;
    left: calc(50% - 53px);
    max-height: 100%;
    width: 6.625rem;
}
.kakeruMiyaichi {
    position: absolute;
    top: 55.5%;
    left: 39.45%;
    font-size: var(--font-size-base);
}
.p {
    margin: 0;
}
.div {
    position: absolute;
    top: 57.7%;
    left: 39.45%;
}
.bicycle1 {
    position: absolute;
    top: 68.43%;
    left: calc(50% - 61px);
    font-size: var(--font-size-13xl);
}
.icon1 {
    position: absolute;
    height: 0.06%;
    top: 71.54%;
    bottom: 28.4%;
    left: calc(50% - 61px);
    max-height: 100%;
    width: 7.625rem;
}
.div1 {
    position: absolute;
    top: 87.84%;
    left: 22.22%;
    font-size: var(--font-size-base);
}
.div2 {
    position: absolute;
    top: 90.04%;
    left: 20.5%;
}
.div3 {
    position: absolute;
    top: 87.84%;
    left: 45%;
    font-size: var(--font-size-base);
}
.div4 {
    position: absolute;
    top: 90.04%;
    left: 43.28%;
}
.div5 {
    position: absolute;
    top: 87.84%;
    left: 67.78%;
    font-size: var(--font-size-base);
}
.div6 {
    position: absolute;
    top: 90.04%;
    left: 66.06%;
}
.profile {
    position: absolute;
    top: 98.58%;
    left: calc(50% - 28px);
    font-size: 0.5rem;
}
.main_visual {
    position: absolute;
    top: 3.75rem;
    left: 0rem;
    width: 100rem;
    height: 37.5rem;
    object-fit: cover;
}
.about_icon{
    position: absolute;
    top: 53.625rem;
    left: 23.438rem;
    width: 6.25rem;
    height: 6.25rem;
    object-fit: cover;
}
.bicycle1Icon {
    position: absolute;
    top: 72.875rem;
    left: 13.2rem;
    width: 17.15rem;
    height: 11.375rem;
    object-fit: cover;
}
.bicycle2Icon {
    position: absolute;
    top: 72.875rem;
    left: 31.425rem;
    width: 17.15rem;
    height: 11.375rem;
    object-fit: cover;
}
.bicycle3Icon {
    position: absolute;
    top: 72.875rem;
    left: 49.65rem;
    width: 17.15rem;
    height: 11.375rem;
    object-fit: cover;
}
.profilePc {
    width: 100%;
    position: relative;
    background-color: #fff;
    height: 96.625rem;
    overflow: hidden;
    text-align: left;
    font-size: var(--font-size-mini-4);
    color: var(--color-darkslategray);
    font-family: var(--font-hiragino-kaku-gothic-pron);
}

