.profilePc {
    width: 100%;
    position: relative;
    background-color: #fff;
    height: 96.625rem;
    overflow: hidden;
    text-align: left;
    font-size: var(--font-size-mini-4);
    color: var(--color-darkslategray);
    font-family: var(--font-hiragino-kaku-gothic-pron);
}

