.logoIcon {
  position: absolute;
  height: 2.5rem;
  width: 32%;
  top: 0.42%;
  right: 64%;
  bottom: 97.92%;
  left: 4%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: contain;
}

.about {
  position: absolute;
  top: 0.79%;
  left: 62.67%;
  color: var(--color-gray);
}
.bicycle {
  position: absolute;
  top: 0.79%;
  left: 82.4%;
  color: var(--color-gray);
}

@media screen and (min-width: 428px) {
  .logoIcon {
    position: absolute;
    height: auto;
    width: 9%;
    top: 0.65%;
    right: 74.13%;
    bottom: 96.77%;
    left: 16.5%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: contain;
  }
  .about {
    position: absolute;
    top: 1.23%;
    left: 73.73%;
    color: var(--color-gray);
  }
  .bicycle {
    position: absolute;
    top: 1.23%;
    left: 79.52%;
    color: var(--color-gray);
  }
}