.bicycle {
  position: absolute;
  top: 68.43%;
  left: 50%;
  transform: translateX(-50%);
  font-size: var(--font-size-13xl);
}
.border {
  position: absolute;
  height: 0.06%;
  top: 71.54%;
  bottom: 28.4%;
  left: 50%;
  transform: translateX(-50%);
  max-height: 100%;
  width: 7.625rem;
}

.bike_items {
  display: flex;
  justify-content: space-between;
  position: absolute;
  height: 16.04%;
  width: 67%;
  top: 75.42%;
  right: 16.5%;
  bottom: 8.54%;
  left: 16.5%;
  font-size: var(--font-size-base);
}

.bike1_text {
  font-size: var(--font-size-mini-4);
}
.bike1_icon {
  object-fit: cover;
}
.bike_item1 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-size: var(--font-size-base);
}
