.bicycle_box {
  padding: 0 4%;
  display: flex;
  flex-direction: column;
  row-gap: 60px;
}

.bike_items {
  display: flex;
  justify-content: center;
  column-gap: 5px;
  flex-wrap: wrap;

}

.bike_item {
  padding: 15px 8px;
  display: flex;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
  flex-direction: column;
  align-items: center;
  row-gap: 10px;
}

.bicycle {
  font-size: 32px;
  text-decoration: underline;
  text-underline-offset: 8px;
  text-decoration-thickness: 1px;
}

.bicycle h3 {
  margin: 0;
}

.bike_title {
  margin:0;
}